# Admin User

ADMIN_USER=admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=email@example.com
ADMIN_NAME=Admin

# URL

# Local Dev
# ORIGIN=http://localhost:5173
# Docker
ORIGIN=http://localhost:3000
VITE_ENV=development

# Maximum file upload size in bytes
BODY_SIZE_LIMIT=5242880

# Absolute File path to project folder
# **You probably don't need to worry about this unless you're going to be importing via the Paprika API**
VITE_APP_ROOT_PATH=/Your/Full/Path/To/Production/Folder/