.DS_Store
node_modules
/build
/.svelte-kit
/package
src/lib/data/recipe_html/*
.env
.env.localproduction
!.env.template
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*/dev.sqlite
*.sqlite-journal
*.code-workspace
*.sqlite*
pnpm-lock.yaml
# Test
package-lock.json
*.diff
uploads/images/*
uploads/imports/*
*.backup
service-worker.js*
workbox-*.js*
docker-compose.yml
# Whitelist
!uploads/images/.gitkeep
!uploads/imports/.gitkeep
site/*