services:
  app:
    image: jt196/vanilla-cookbook:latest
    container_name: vanilla-cookbook
    ports:
      - '3000:3000'
    volumes:
      - ./db:/app/prisma/db
      - ./uploads:/app/uploads
      - ./.env:/app/.env
    env_file:
      - .env
