version: '3'
services:
  app:
    image: jt196/cookrr:latest
    container_name: recipe-manager
    ports:
      - 3000:3000'
    volumes:
      - ./db:/app/prisma/db
      - ./uploads:/app/uploads
      - ./.env:/app/.env
    env_file:
      - .env
